

#features1{
	margin-top: 80px;
}

.panel img{
	width: 300px;
}

.panel{
	background-color: #d9e6f5;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	.panel img{
		height: 250px;
		width: 300px;
	}
	
	
}

@media (min-width: 480px) {
	.panel img{
		height: 200px;
		width: 300px;
	}
	
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
	
	#myCarousel .item { height: 310px; }
	
	.panel img{
		width: 200px;
		height: 200px;
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.carousel-caption h4 {
		font-size: 50px;
	}
	
}

@media (min-width: 992px){
	.panel img{
		width: 260px;
		height: 300px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }
	.panel img{
		width: 300px;
		height: 300px;
	}
	
}